$accent-color: #ce5c58;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
$font-family: 'Josefin Sans', 'sans-serif';
body {
}
.index{
  background-color: $accent-color;
  font-family: $font-family;
  height: 100vh;
  .display {
    position: absolute;
    width: 100vw;
    padding: 0px 0px;
    margin-top: 50vh;
    transform: translateY(-50%);
    .label {
      p {
        position: relative;
        color: lighten($accent-color, 10%);
        vertical-align: middle;
        font-size: 2em;
      }
    }
    .temp {
      p {

        position: relative;
        color: lighten($accent-color, 10%);
        vertical-align: middle;
        font-size: 8em;
      }
    }
    .humidity {
      p {
        color: lighten($accent-color, 10%);
        vertical-align: middle;
        font-size: 1em;
      }

    }
  }
  #chart{
    height: 550px ;
    width: inherit;
    // background: red;
  }
}
