$accent-color: #5f875f;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
$font-family: 'Josefin Sans', 'sans-serif';
/*-- Chart --*/
.c3 svg {
  font: 10px $font-family;
  -webkit-tap-highlight-color: transparent;
}
.c3 path, .c3 line {
  // fill: none;
  // color: lighten($accent-color, 50%);
  stroke: lighten(black, 70%);
}

.c3 text {
  color: lighten(black, 30%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
